.auth__link-login {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #ffffff;
}
.auth__link-login:hover {
  opacity: 0.6;
}
